/* FONTS */
@import "./fonts.css";

/* VARIABLES */
:root {
  --header-height: 5rem;
  --container-padding: 2.5rem;

  --short-transition: 300ms;
  --medium-transition: 1500ms;
}

/* GENERAL */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media screen and (max-width: 640px) {
  html {
    font-size: 17px;
  }
}

body {
  width: 100vw;
  line-height: 1.2rem;

  @apply bg-light;
  transition-property: background-color, color;
  transition-duration: var(--short-transition);

  font-family: "Noveo";
  font-feature-settings: "liga" 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  position: relative;
  z-index: 1;
}

h1,
h2,
h3 {
  font-family: "Noveo-Bold";
}

h1 {
  font-size: 2.2rem;
  line-height: 2.2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  margin: 0;
}

a {
  @apply text-link-info hover:underline;
}

section article {
  margin-bottom: 2rem;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  padding: 0.6rem 1.1rem;
  border-radius: 8px;
  font-weight: 600;
  transition-property: background-color, color;
  transition-duration: var(--short-transition);
  @apply hover:cursor-pointer hover:no-underline;
}

.btn-sm {
  padding: 0.4rem 0.9rem;
  @apply text-sm;
}

.btn.btn-primary {
  @apply bg-primary hover:bg-primary-highlight;
  color: #fff;
}

.container {
  @apply pr-[var(--container-padding)] pl-[var(--container-padding)] sm:px-0;
  width: 100%;
  max-width: 40rem;
  margin-inline: auto;
}

.block {
  width: 100%;
  padding: 1rem 0.5rem;
  text-align: center;
  border-radius: 8px;
}

.block.info {
  @apply bg-info;
}

.title {
  @apply mb-5 text-lg;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: #525252;
  text-decoration-thickness: 4px;
}

.container-grid {
  --max-width-card: 16rem;
  display: grid;
  grid-template-columns: minmax(var(--max-width-card), 1fr) minmax(200px, var(--max-width-card));
  grid-column-gap: 2rem;
  grid-row-gap : 0.5rem;
}

@media screen and (max-width: 640px) {
  .container-grid {
    grid-template-columns: repeat(auto-fill, minmax(var(--max-width-card), 1fr));
    grid-row-gap : 0;
  }
}
