/* FONTS */
@import "./fonts.css";

/* VARIABLES */
:root {
  --header-height: 5rem;
  --short-transition: 300ms;
  --medium-transition: 1500ms;
}

/* GENERAL */
body {
  width: 100vw;
  line-height: 1.2rem;

  @apply bg-light;
  transition-property: background-color, color;
  transition-duration: var(--short-transition);

  font-family: "Noveo";
  font-feature-settings: "liga" 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  position: relative;
  z-index: 1;
}

h1,
h2,
h3 {
  font-family: "Noveo-Bold";
}

h1 {
  font-size: 2.2rem;
  line-height: 2.2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  margin: 0;
}

a {
  color: #0d56db;
  @apply hover:underline;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  padding: 0.6rem 1.1rem;
  border-radius: 8px;
  font-weight: 600;
  transition-property: background-color, color;
  transition-duration: var(--short-transition);
  @apply hover:cursor-pointer hover:no-underline;
}

.btn.btn-primary {
  @apply bg-primary hover:bg-primary-highlight;
  color: #fff;
}

.container {
  width: 100vw;
  max-width: 40rem;
  margin-inline: auto;
}

.block {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  border-radius: 8px;
}

.block.info {
  @apply bg-info;
}
