.card {
  display: flex;
  flex-direction: column;
  grid-row-gap: 0.8rem;
  width: var(--max-width-card);
  height: 18rem;
  padding: 1.5rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: var(--color-primary);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.card h2 {
  font-size: 1rem;
  font-weight: 500;
}

.card img {
  width: 8rem;
  margin-inline: auto;
}

.card .svg {
  width: 4rem;
  margin-inline: auto;
}


@media screen and (max-width: 580px) {
  .card {
    width: 100%;
  }
}
