---
import Layout from "../layouts/Layout.astro";
import AnimatedComponent from "../components/animations/AnimatedComponent";
---

<Layout title="Projets">
  <main class="container px-10">
    <AnimatedComponent>
        <section>
            <h1>Projets</h1>

        </section>
    </AnimatedComponent>
  </main>
</Layout>
