---
import Layout from "../layouts/Layout.astro";
import AnimatedComponent from "../components/animations/AnimatedComponent";
import Card from "../components/Card/Card";
import { getCollection } from 'astro:content';
const projects = await getCollection('projects');
console.log(projects);
---

<Layout title="Projets">
  <main class="container px-10">
    <section>
      <h1 class="title">Projets</h1>
      <AnimatedComponent duration={0.3} client:load>
        <div class="container-grid">
          <Card
            img="test"
            title="Gemme"
            description="oki"
            technologies="App : Ionic Angular + Mapbox Back : Symfony + React"
          />
          <Card
            img="test"
            title="Gemme"
            description="oki"
            technologies="App : Ionic Angular + Mapbox Back : Symfony + React"
          />
          <Card
            img="test"
            title="Gemme"
            description="oki"
            technologies="App : Ionic Angular + Mapbox Back : Symfony + React"
          />
        </div>
      </AnimatedComponent>
    </section>

    <style></style>
  </main>
</Layout>
