---
import CopyClipboard from "./CopyClipboard.astro";
---

<div class="full-header">
  <header class="container flex items-center flex-nowrap gap-8">
    <a class="text-lg font-bold" target="_self" href="/" title="Page d'accueil">
      <img
        class="inline-block w-8 transition-transform"
        src="/icons/magic-stick.svg"
        alt=""
      />
      Ano
    </a>
    <nav class="inline-block">
      <ul class="flex gap-5">
        <a
          class="nav-links"
          target="_self"
          href="/projects"
          title="Lien vers la page projets">Projets</a
        >
        <a
          class="nav-links"
          target="_self"
          href="/hobbies"
          title="Lien vers la page centre d'intêrets">Cenre d'intêrets</a
        >
      </ul>
    </nav>
    <CopyClipboard text={"metier.yann@gmail.com"} />
  </header>

  <style>
    .full-header {
      position: sticky;
      top: 0;
      z-index: 10;
      width: 100%;
      background: rgba(255, 255, 255, 0.25);
      backdrop-filter: blur(10px);
    }

    header {
      height: var(--header-height);
    }

    header a {
      @apply text-black hover:no-underline
    }

    header a:hover img {
      @apply rotate-12;
    }

    header .nav-links {
      padding: 0.5rem 0.9rem;
      @apply hover:bg-white rounded-lg
    }
  </style>
</div>
