<header class="container">
  <span>test</span>
  <nav class="inline-block">
    <ul class="flex justify-center gap-8">
      <li>Projets</li>
      <li>Centre d'intêrets</li>
      <li>Historique</li>
    </ul>
  </nav>
</header>

<style>
  header {
    height: var(--header-height);
    line-height: var(--header-height);
  }
</style>
