---

---

<div class="w-full bg-white">
  <header class="container flex justify-between flex-nowrap gap-12">
    <span>salut</span>
    <nav class="inline-block">
      <ul class="flex gap-8">
        <a href="/projects" title="Lien vers la page projets">Projets</a>
        <a href="/hobbies" title="Lien vers la page centre d'intêrets"
          >Cenre d'intêrets</a
        >
        <a href="/historic" title="Lien vers la page centre historique"
          >Historique</a
        >
      </ul>
    </nav>
    <button id="contactMe" class="btn btn-primary ml-auto" type="button">Contactez-moi !</button>
  </header>
</div>

<style>
  header {
    height: var(--header-height);
    line-height: var(--header-height);
  }
</style>
