---
import CopyClipboard from "./CopyClipboard.astro";
---

<div class="full-header">
  <header class="container flex items-center flex-wrap gap-12">
    <a target="_self" href="/" title="Page d'accueil">HOME</a>
    <nav class="inline-block">
      <ul class="flex gap-8">
        <a target="_self" href="/projects" title="Lien vers la page projets"
          >Projets</a
        >
        <a
          target="_self"
          href="/hobbies"
          title="Lien vers la page centre d'intêrets">Cenre d'intêrets</a
        >
        <a
          target="_self"
          href="/historic"
          title="Lien vers la page centre historique">Historique</a
        >
      </ul>
    </nav>
    <CopyClipboard text={'metier.yann@gmail.com'} />
  </header>

  <style>
    .full-header {
      position: sticky;
      top: 0;
      z-index: 10;
      width: 100%;
      @apply bg-info;
    }

    .full-header header {
      height: var(--header-height);
    }
  </style>
</div>
