---
import '../styles/index.css';
import Nav from '../components/Nav.astro';
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Portfolio pour retranscrire mes années de développeur web en un seul endroit"
    />
    <title>Portfolio Yann M. | {title}</title>
    <base target="_blank">
  </head>
  <body>
	<Nav />
    <slot />
  </body>
</html>

