---
import "../styles/index.css";
import Nav from "../components/Nav.astro";
import Three from "../lib/Three.js";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Portfolio pour retranscrire mes années de développeur web en un seul endroit"
    />
    <title>Portfolio Yann M. | {title}</title>
    <base target="_blank" />
  </head>
  <body>
    <Nav />
    <div class="container my-5" id="threeJS">
      <Three client:only idElementToAttach="threeJS" />
    </div>
    <slot />
  </body>
</html>

<style>
  #threeJS {
    position: relative;
    z-index: 0;
    width: 640px;
    height: 640px;
    margin-bottom: -200px;
    margin-top: -120px;
    margin-inline: auto;
  }

  @media screen and (max-width: 740px) {
    #threeJS {
      width: 480px;
      height: 480px;
      margin-top: -60px;
      margin-bottom: -140px;
    }
  }

  @media screen and (max-width: 460px) {
    #threeJS {
      width: 280px;
      height: 280px;
      margin-top: 0px;
      margin-bottom: -60px;
    }
  }
</style>
